@page "/"

<PageTitle>Index</PageTitle>

<h1>RDLC Report</h1>
<a id="btnGenerate" class="btn btn-primary" href="https://localhost:7017/api/Report/GetReport?reportType=1">PDF</a>
<a id="btnGenerate" class="btn btn-primary" href="https://localhost:7017/api/Report/GetReport?reportType=2">Excel</a>
<a id="btnGenerete" class="btn btn-primary" href="https://localhost:7017/api/Report/GetCharges">Wyndham Report</a>
<a id="btnGenerete" class="btn btn-primary" href="https://localhost:7017/api/Report/GetPayment">Wyndham Report1</a>

